*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: gray;
}

/* Header section */

.header{
    width: 100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 20%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hachi Maru Pop', cursive;
}
.logo img{
    width: 30px;
}
.logo h4{
    font-size: 25px;
    font-weight:bolder;
}
.logo span{
    color: #0984e3;
}
.menu{
    width: 60%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.menu a{
    text-decoration: none;
    margin: 0px 15px;
    color: gray;
    font-size: 14px;
    font-weight: 600;
}
.cart{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}
.cart a{
    width: 100px;
    text-decoration: none;
    padding: 5px ;
    text-align: center;
    margin-top: 10px;
    color: #0984e3;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    background-color: #ecf5fd;
    /* box-shadow: -1px -1px 5px gray; */
}
/* Header section End*/

/* Home section */

.home{
    width: 100%;
    height: 90vh;
    display: flex;

}

.home-left{
    width: 50%;
    margin-left: 130px;
    margin-bottom:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.home-left h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.home-left span{
    color:#0984e3 ;
}
.home-left p{
    margin-bottom: 50px;
}
.home-left-link{  
    width: 200px;
    text-decoration: none;
    text-align: center;
    padding: 15px 0px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(#74b9ff,#0984e3);
}

.home-right{
    width: 50%;
    margin-top: 30px;    
}
.home-right img{
    width: 85%;
    
}

/* Home section End */

/* about section */
.about{
     width: 100%;
     height: auto;
    display: flex;
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-left{
    width: 50%;
    margin-left: 150px;
}


.about-right{
    width: 50%;
    margin-right: 150px;
    text-align: justify;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.about-right h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.about-right p{
    margin-bottom: 50px;
}

/* about section End */

/* recipie section */


.recipie{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    
    
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top h1{
    color: black;
    font-weight: 900;
}
.top p{
    width: 600px;
    text-align: center;
    margin-top: 20px;
}
.bottom{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom .card{
    width: 25%;
    height: 70vh;
    margin: 0px 2%;
    padding: 20px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 1px 1px 30px gray;
}
.card img{
     width: 100%;
     height: 50%;
     margin-bottom: 30px;
     border-radius: 15px;
}
.card p{
    margin-bottom: 20px;
}
.title{
    margin-bottom: 15px;
    color: black;
}

/* recipie section end */

/*  achievement section  */

.achievement{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 50px gray;
}

.counting h1{
    font-size: 40px;
   text-align: center;
   font-weight: bold;
   color: black;
}
.count-left-image{
    width: 200px;
    margin-left: -150px;
}
.count-right-image{
    width: 200px;
    margin-bottom: 100px;
    margin-right: -120px;
}


/* achievement section end */